<h1>
  <%=
    translate(
      '.instructions_html',
      party: Current.party.greeting(conjunction: translate('or'))
    )
  %>
</h1>

<%= form_with(scope: :session_verifications, url: session_verifications_path) do |form| %>
  <div class="boolean-buttons">
    <%= form.button 'No', value: 'false', name: 'session_verifications[verified]', type: 'submit', class: 'button false' %>
    <%= form.button 'Yes', value: 'true', name: 'session_verifications[verified]', type: 'submit', class: 'button true' %>
  </div>
<% end %>
