<p>Patterson Park</p>

<%= form_with scope: :patterson_park_response, url: patterson_park_responses_path do |form| %>
  <%= form.collection_check_boxes :attending_guest_ids, @guests, :id, :name %>

  <%= form.submit "Next" %>
<% end %>
