<h1>Thanks for responding!</h1>

<% if @attending %>
  <p>Ali and Tasha will be excited to see you at the wedding!</p>
<% else %>
  <p>Ali and Tasha will miss you at the wedding but no hard feelings.</p>
<% end %>

<%=image_tag "conclusion.jpg", class: "conclusion-image"%>
