<p>Thanks for responding!</p>

<% if @attending %>
  <p>Ali and Tasha will be excited to see you at the wedding!</p>
<% else %>
  <p>Ali and Tasha will miss you at the wedding but no hard feelings.</p>
<% end %>
