<p>Welcome!</p>

<p>Before you R.S.V.P, let's quickly look over the wedding details.</p>

<p>
  The wedding will be in Baltimore, MD on Saturday, September 1st. There are two parts to the wedding. The day will start with the ceremony and picnic in Patterson Park. Then after a break to rest, we'll meet in the evening for the cake reception at the Douglass-Myers Maritime Park.
</p>

<p>Let's get started!</p>

<%= link_to translate("next"), new_patterson_park_responses_path %>
