<h1>Welcome <%= Current.party.greeting %>!</h1>

<p>
  <%=
    link_to(
      "Not #{Current.party.greeting}? Click here.",
      sessions_path,
      method: :delete
    )
  %>
</p>

<p>
  The wedding will be in Baltimore, MD on Saturday, September 1st. 
</p>
<p>
  There are two parts to the wedding. 
</p>

<div id="schedule-div">
  <dl>
    <dt class="time">
      2:00pm - 5:30pm
    </dt>
    <dd>
      Ceremony and Picnic in Patterson Park 
    </dd>
    <dt class="time">
      8:00pm - 11:30pm
    </dt>
    <dd>
      Cake Reception at Frederick Douglass-Isaac Myers Maritime Park
    </dd>
  </dl>
</div>

<p>
  You're invited to both and we'll let you RSVP to them seperatly incase you can only make it to one.
</p>

<%= button_to translate("next"), new_patterson_park_responses_path, method: "get", class: 'button blue'  %>
