<h1>Welcome <%= Current.party.greeting %>!</h1>

<p>
  <%=
    link_to(
      "Not #{Current.party.greeting}? Click here.",
      sessions_path,
      method: :delete
    )
  %>
</p>

<p>
  As you might know, the wedding will be in Baltimore, MD on Saturday, September 1st. There are two parts to the wedding.
</p>

<div id="schedule-div">
  <dl>
    <dt class="time">2:00pm</dt>
    <dd>Ceremony and Picnic in Patterson Park</dd>

    <dt class="time">8:00pm</dt>
    <dd>Cake Reception at Frederick Douglass-Isaac Myers Maritime Park</dd>
  </dl>
</div>

<p>
  You will RSVP to each part of the wedding separately. Let's get started!
</p>

<%= button_to translate("next"), new_patterson_park_responses_path, method: "get", class: 'button blue' %>
