<p>Douglass-Myers</p>

<%= form_with scope: :douglass_myers_response, url: douglass_myers_responses_path do |form| %>
  <%= form.collection_check_boxes :attending_guest_ids, @guests, :id, :name %>

  <%= form.submit "Next" %>
<% end %>
