@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100i,300i,400,700');

html body {
  font-family: 'Josefin Sans', sans-serif;;
  background-color: #c9df6b;
  margin: 1em;
  padding: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.25em;
}

h1, h2 {
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
}

a {
  color: #1F2558;
  text-decoration: underline; 
}

.radio {
  text-align: center;
}

.button {
  text-decoration: none;
  text-align: center;
  font-size: 2.5em;
  background-color: #c9df6b;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: .25em;
}

.boolean-buttons {
  display: flex;
  text-align: center;
  .button {
    width: 2.5em;
  }
  .true {
  }
  .false {
    background-color: lightgrey;
  }
}

@media all and (min-width: 775px) {
  html body {
    margin-left: 2em;
    margin-right: 2em;
  }

.left_align {
  text-align: left;
  }
}
