#schedule-div {
  text-align: center;
  font-style: italic;
  color: #031b5b;
  margin-bottom: 2em;
  dd {
    margin: 0px;
  }
}
.time {
  padding-top: 1em;
  font-style: normal;
  font-weight: bolder;
}
